* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media only screen and (max-width: 600px) {
  .imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media only screen and (max-width: 800px) {
  .meme-editor-container {
    flex-direction: column;
  }

  .canvas-container {
    width: 88vw;
    margin-inline: auto;
  }
  .control-panel {
    width: 88vw;
    margin-inline: auto;
  }
}
